* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-wrapper {
    background-color: rgb(184, 109, 11);
    margin-bottom: 5pt;
}

nav.menu {
	width: 300px;
	min-height: calc(100vh - 121px);
	background-color: slategray;
	position: absolute;
	left: -300px;
	transition: .3s all;
}

header > .top a.menu_icon i {
	color: white;
	font-size: 40px;
	padding-top: 3px;
	transition: .2s ease;
}
header > .top a.menu_icon:hover i {
	color: slategray;
}

nav.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: white;
    text-transform: uppercase;
}

.menu_show {
	left: 0!important;
}

@media screen and (max-width: 425px) {
	header h1 {
		font-size: 16px;
	}
}
@media screen and (max-width: 360px) {
	nav.menu {
		width: 100%;
		left: -100%; 
	}
}

.brand-logo {
    color: white;
    text-decoration: none;
    font-size: 32pt;
    padding-left: 10pt;
}

.card-content {
    background-color: slategray;
    color: white;
    padding-top: 10pt;
    padding-bottom: 10pt;
    width: auto;
    height: auto;
}

.card-title {
    font-size: 18pt;
    font-weight: 100;
    padding-left: 5pt;
}

.card-action {
    padding-bottom: 10pt;
    padding-left: 30pt;
}

.input-field {
    padding: 10pt;
}

#password, #email, #fullName, #passwordConfirm, #deviceId {
    background-color: rgb(202, 212, 221);
    border: none;
    padding: 5px;
}

#register {
    padding-top: 10pt;
}

.btn {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: lighter;
    text-decoration: none;
    font-family: sans-serif;
    background-color: chocolate;
    border: none;
    border-radius: 2px;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.btn-small {
    /*float: right;*/
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 2.5pt;
    padding-bottom: 2.5pt;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: sans-serif;
    background-color: chocolate;
    border: none;
    border-radius: 2px;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.register, .signin {
    text-decoration: none;
    text-transform: uppercase;
    color: orange;
}

.devices-title {
    padding-top: 10pt;
    margin: 10pt;
}

#add, #card-add {
    margin: 10pt;
}

#refresh {
    /*float: right;
    margin-right: 20px;*/
    margin-left: 10px;
}

.current-devices {
    margin-top: 10pt;
}

#signout, #home {
    margin-right: 10px;
}

#activities, #account {
    margin-left: 10px;
    margin-right: 10px;
}

.user-info {
    margin-top: 10px;
}

.info {
    list-style-type: none;
}

li{
  margin: 20px 0;
}

.summary {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 100px 10px;
    outline-style: solid;
    outline-color: white; 
}

.summary-title {
    font-size: 24px;
}

.summary-data {
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    .summary {
        border-spacing: 25px 10px;
    }
    .summary-title {
        font-size: 12px;
    }
    .summary-data {
        font-size: 10px;
    }
    .summary-labels {
        font-size: 12px;
    }
}

.list-title {
    margin-left: 5px;
}

#mapid { 
    height: 300px;
    width: 450px;
    margin: auto;
}

